:root {
  --color-black: #1c1c1c;
  --color-black-L: rgba(28, 28, 28, 0.15);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  --color-blue: #346eff;
  --color-red: #e93636;
  --color-green: #00c170;
}
